fastapi
uvicorn
httpx
pydantic
jinja2
sqlalchemy
fastapi_chameleon
starlette
typing
pytest
alembic
selenium==3.141.0
webdriver-manager
pytest-soft-assertions
h11
pip
colorlog
toml
configparser
wheel
py
lxml
PyYAML
anyio
sniffio
enum34
click
httpcore
certifi
idna
rfc3986
MarkupSafe
asgiref
requests
greenlet
decorator
Chameleon
python-multipart
setuptools
attrs
PyMySQL
zipp
termcolor
pytest-xdist